@font-face {
    font-family: "icons";
    src: url("./icons.woff?d6a3ed2c952bed93a9fd16d9b1df8200") format("woff"),
url("./icons.woff2?d6a3ed2c952bed93a9fd16d9b1df8200") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-misc-angle-down-lite:before {
    content: "\f101";
}
.icon-misc-angle-left-lite:before {
    content: "\f102";
}
.icon-misc-angle-right-lite:before {
    content: "\f103";
}
.icon-misc-angle-up-lite:before {
    content: "\f104";
}
.icon-misc-ban:before {
    content: "\f105";
}
.icon-misc-circle-check:before {
    content: "\f106";
}
.icon-misc-circle-exclamation:before {
    content: "\f107";
}
.icon-misc-close:before {
    content: "\f108";
}
.icon-misc-double-up:before {
    content: "\f109";
}
.icon-misc-filter-list:before {
    content: "\f10a";
}
.icon-misc-nav-menu:before {
    content: "\f10b";
}
.icon-poke-alpha-shiny:before {
    content: "\f10c";
}
.icon-poke-alpha:before {
    content: "\f10d";
}
.icon-poke-favorite:before {
    content: "\f10e";
}
.icon-poke-marked-shiny:before {
    content: "\f10f";
}
.icon-poke-marked:before {
    content: "\f110";
}
.icon-poke-pokeball:before {
    content: "\f111";
}
.icon-poke-pokerus-shiny:before {
    content: "\f112";
}
.icon-poke-pokerus:before {
    content: "\f113";
}
.icon-poke-shiny:before {
    content: "\f114";
}
.icon-poke-six-shiny:before {
    content: "\f115";
}
.icon-poke-six:before {
    content: "\f116";
}
.icon-poke-zero-shiny:before {
    content: "\f117";
}
.icon-poke-zero:before {
    content: "\f118";
}
.icon-type-1-bug:before {
    content: "\f119";
}
.icon-type-1-dark:before {
    content: "\f11a";
}
.icon-type-1-dragon:before {
    content: "\f11b";
}
.icon-type-1-electric:before {
    content: "\f11c";
}
.icon-type-1-fairy:before {
    content: "\f11d";
}
.icon-type-1-fighting:before {
    content: "\f11e";
}
.icon-type-1-fire:before {
    content: "\f11f";
}
.icon-type-1-flying:before {
    content: "\f120";
}
.icon-type-1-ghost:before {
    content: "\f121";
}
.icon-type-1-grass:before {
    content: "\f122";
}
.icon-type-1-ground:before {
    content: "\f123";
}
.icon-type-1-ice:before {
    content: "\f124";
}
.icon-type-1-normal:before {
    content: "\f125";
}
.icon-type-1-poison:before {
    content: "\f126";
}
.icon-type-1-psychic:before {
    content: "\f127";
}
.icon-type-1-rock:before {
    content: "\f128";
}
.icon-type-1-steel:before {
    content: "\f129";
}
.icon-type-1-water:before {
    content: "\f12a";
}
.icon-type-2-bug:before {
    content: "\f12b";
}
.icon-type-2-dark:before {
    content: "\f12c";
}
.icon-type-2-dragon:before {
    content: "\f12d";
}
.icon-type-2-electric:before {
    content: "\f12e";
}
.icon-type-2-fairy:before {
    content: "\f12f";
}
.icon-type-2-fighting:before {
    content: "\f130";
}
.icon-type-2-fire:before {
    content: "\f131";
}
.icon-type-2-flying:before {
    content: "\f132";
}
.icon-type-2-ghost:before {
    content: "\f133";
}
.icon-type-2-grass:before {
    content: "\f134";
}
.icon-type-2-ground:before {
    content: "\f135";
}
.icon-type-2-ice:before {
    content: "\f136";
}
.icon-type-2-normal:before {
    content: "\f137";
}
.icon-type-2-poison:before {
    content: "\f138";
}
.icon-type-2-psychic:before {
    content: "\f139";
}
.icon-type-2-rock:before {
    content: "\f13a";
}
.icon-type-2-steel:before {
    content: "\f13b";
}
.icon-type-2-water:before {
    content: "\f13c";
}
