// app global css in SCSS form

$light: #f5f3f5;
$defaultType: #5c5c5c;
$bugType: #9ca60f;
$darkType: #644c3e;
$dragonType: #8a75e2;
$electricType: #fec61d;
$fairyType: #f9c3f7;
$fightingType: #843a2a;
$fireType: #ca5502;
$flyingType: #758ade;
$ghostType: #6f73be;
$grassType: #7dc148;
$groundType: #d5b86b;
$iceType: #7adbf7;
$normalType: #c6c2b9;
$poisonType: #9d5ba2;
$psychicType: #f46094;
$rockType: #a89949;
$steelType: #babac6;
$waterType: #39a4f6;
