// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #b7245c;
$secondary: #17a39d;
$accent: #2081c3;

$dark: #343434;
$dark-page: #121212;

$positive: #00a352;
$negative: #c10015;
$info: #2081c3;
$warning: #f2c037;

$light: #f5f3f5;
$defaultType: #5c5c5c;
$bugType: #9ca60f;
$darkType: #644c3e;
$dragonType: #8a75e2;
$electricType: #fec61d;
$fairyType: #f9c3f7;
$fightingType: #843a2a;
$fireType: #ca5502;
$flyingType: #758ade;
$ghostType: #6f73be;
$grassType: #7dc148;
$groundType: #d5b86b;
$iceType: #7adbf7;
$normalType: #c6c2b9;
$poisonType: #9d5ba2;
$psychicType: #f46094;
$rockType: #a89949;
$steelType: #babac6;
$waterType: #39a4f6;
